<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "index" class="navbar-brand"}}Snatch That{{/link-to}}
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
            {{#link-to "dashboard"}}Home{{/link-to}}
        </li>

        <li>
            {{#link-to "closets"}}Closets{{/link-to}}
        </li>
      </ul>
    </nav>
    {{!-- <a {{action 'invalidateSession'}} class="navbar-brand">Logout</a> --}}
  </div>
</nav>
