------------------------------------------
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    {{#link-to 'index' class="navbar-brand"}}Menu{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

      <ul class="nav navbar-nav">
        <li class="active" id="users">{{#link-to 'users'}}users{{/link-to}}</li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="active" id="activities">{{#link-to 'activities'}}activities{{/link-to}}</li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="active" id="activities">{{#link-to 'searches'}}searches{{/link-to}}</li>
      </ul>

    </div>
  </div>
</nav>
-------------------------------------------
